@model IEnumerable<BigSchool2.Models.Course>

@{
    ViewBag.Title = "LectureIamGoing";
}

<br>
<br>
<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">@course.DataTime.ToString("MM")</div>
                    <div class="day">@course.DataTime.ToString("dd")</div>
                </div>
                <div class="details">
                    <span class="lecture"><b>@course.LectureName</b></span><br>
                    <span class="category">@course.Category.Name</span>
                </div>
            </li>
        }
    </ul>
</div>
